{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-8 offset-2">
                <h2 class="my-4">About Us</h2>

                <p>
                    Nous sommes en partenariat avec plusieurs fabriques et entreprises certifiés et nous vendons tous leurs produits aux prix les plus bas du marché. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, at? Atque adipisci vel ducimus sunt ab, rem veritatis sapiente fugiat illum dignissimos explicabo mollitia dolore id placeat voluptatum ipsa ratione magnam libero dolores nobis perspiciatis! Debitis fuga ratione possimus accusantium? 
                </p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, at? Atque adipisci vel ducimus sunt ab, rem veritatis sapiente fugiat illum dignissimos explicabo mollitia dolore id placeat voluptatum ipsa ratione magnam libero dolores nobis perspiciatis! Debitis fuga ratione possimus accusantium?</p>
            </div>
        </section>
    </main>
{% endblock %}
