{% extends 'base.html.twig' %}

{% block title %}Conditions générales de vente{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-10 offset-1">
                <h2 class="my-4">Conditions générales de vente</h2>
                <div>
                <object type="application/pdf" width="100%" height="1000px">
                <param name="src" value="{{ asset('assets/pdf/modeletype_cgv_ccpc.pdf') }}" /></object>
                
                </div>
            </div>
        </section>
    </main>
{% endblock %}
