{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-8 offset-2">
                <h2 class="my-4">Notre équipe</h2>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row ">
                            <div class=" col-md-3">
                                {% if user1.sexe == 0 %}
                                    <img class="avatarlstuser" src="{{ asset('/assets/img/avatars/avat_homme.webp')}}" alt="avatar">
                                {% elseif user1.sexe == 1 %}
                                    <img class="avatarlstuser" src="{{ asset('/assets/img/avatars/avat_femme.png')}}" alt="avatar">
                                {% else %}
                                    <img class="avatarlstuser" src="{{ asset('/assets/img/avatars/avat_alien.webp')}}" alt="avatar">
                                {% endif %}
                            </div>
                            <div class="col-md-7">
                                <h5 class=""> Titulaire du site, {{ user1.username }}</h5>
                                <p class="">Nom : <strong>{{ user1.lastName }}</strong>, Prénom : <strong>{{ user1.firstName }}</strong></p>
                                <p class="">Email : <strong>{{ user1.email }}</strong></p>
                                <p>Moi et mon équipe travaillons d'arrache pied pour votre plaisir mais pour le notre aussi. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, at? Atque adipisci vel ducimus sunt ab, rem veritatis sapiente fugiat illum dignissimos explicabo mollitia dolore id placeat voluptatum ipsa ratione magnam libero dolores nobis perspiciatis! Debitis fuga ratione possimus accusantium?</p>
                            </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row ">
                            <div class=" col-md-3">
                                {% if user2.sexe == 0 %}
                                    <img class="avatarlstuser" src="{{ asset('/assets/img/avatars/avat_homme.webp')}}" alt="avatar">
                                {% elseif user2.sexe == 1 %}
                                    <img class="avatarlstuser" src="{{ asset('/assets/img/avatars/avat_femme.png')}}" alt="avatar">
                                {% else %}
                                    <img class="avatarlstuser" src="{{ asset('/assets/img/avatars/avat_alien.webp')}}" alt="avatar">
                                {% endif %}
                            </div>
                            <div class="col-md-7">
                                <h5 class="">Modérateur, {{ user2.username }}</h5>
                                <p class="">Nom : <strong>{{ user2.lastName }}</strong>, Prénom : <strong>{{ user2.firstName }}</strong></p>
                                <p class="">Email : <strong>{{ user2.email }}</strong></p>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, at? Atque adipisci vel ducimus sunt ab, rem veritatis sapiente fugiat illum dignissimos explicabo mollitia dolore id placeat voluptatum ipsa ratione magnam libero dolores nobis perspiciatis! Debitis fuga ratione possimus accusantium?</p>
                            </div>
                    </li>
                </ul>
            </div>
        </section>
    </main>
{% endblock %}
