{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-8 offset-2">
                <h2 class="my-4">Mon profil</h2>
                    <div class="row g-0">
                        <div class="col-md-4">
                            {% if user.sexe == 0 %}
                                <img class="avatar" src="{{ asset('/assets/img/avatars/avat_homme.webp')}}" alt="avatar">
                            {% elseif user.sexe == 1 %}
                                <img class="avatar" src="{{ asset('/assets/img/avatars/avat_femme.png')}}" alt="avatar">
                            {% else %}
                                <img class="avatar" src="{{ asset('/assets/img/avatars/avat_alien.webp')}}" alt="avatar">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <h5 class=""> {{ user.username }}</h5>
                                        <p class="">Nom : {{ user.lastName }} </p>
                                        <p class="">Prénom : {{ user.firstName }}</p>
                                        <p class="">Email : {{ user.email }}</p>
                            <p><a href="{{ path('edit_profil', {username:user.username}) }}" class="btn btn-secondary"><i class="icofont-edit"></i></a></p>
                        </div>
            </div>
        </section>
    </main>
{% endblock %}
