{% extends 'base.html.twig' %}

{% block title %}My comments{% endblock %}

{% block body %}

    <main class="container">
        <section class="row">
            <div class="col-md-10 offset-1">
                <div class="card ">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                        {% if bool == false %}
                        <li class="nav-item">
                            <a class="nav-link active"  href="{{ path('mycomments', {username:user.username, phrase:'mycomments'}) }}">Mes commentaires</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('mycomments', {username:user.username, phrase:'allcomments'}) }}">Tous les commentaires</a>
                        </li>
                        {% endif %}
                        {% if bool == true %}
                        <li class="nav-item">
                            <a class="nav-link"  href="{{ path('mycomments', {username:user.username, phrase:'mycomments'}) }}">Mes commentaires</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('mycomments', {username:user.username, phrase:'allcomments'}) }}">Tous les commentaires</a>
                        </li>
                        {% endif %}
                        </ul>
                    </div>
                    <div class="card-body">
                        {% if bool == false %}
                        <ul class="list-group">
                            {% for comment in comments %}
                            <li class="list-group-item">
                            <div class="row g-0">
                                <div class="col-md-10">
                                    <h5 class=""> {{ comment.summary|upper }}</h5>
                                                <p class="">{% if comment.note > 0 %}{% for i in 1.. comment.note %}&#9733;{% endfor %}{% endif %}{% if comment.note < 5 %}{% for i in 1.. (5 - comment.note) %}&#9734;{% endfor %}{% endif %} </p>
                                                <p class="">{{ comment.content }}</p>
                                                <p class=""><small>Commentaire pour l'article suivant : <strong>{{ comment.prodcom.nom }}</strong> <img class="imgcom" src="{{ asset('assets/img/products/') ~ comment.prodcom.image }}" alt="{{ comment.prodcom.nom }}"></small></p>
                                                <p class=""><small class="text-muted">{{ comment.created|date('d/m/Y') }}</small></p>
                                </div>
                                <div class="contcom col-md-2">
                                    <p><a href="{{ path('conf_del_com', {username:user.username, id:comment.id}) }}" class=" btn btn-danger" name="confirm"><i class="icofont-ui-delete"></i></a></p>
                                    &nbsp;&nbsp;
                                    <p><a href="{{ path('edit_com', {username:user.username, id:comment.id}) }}" class="btn btn-secondary"><i class="icofont-edit"></i></a></p>

                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="row justify-content-center navigation">
                        {{ knp_pagination_render(comments) }}
                        </div>
                        {% endif %}

                        {% if bool == true %}
                        <ul class="list-group">
                            {% for comment in allcomments %}
                            <li class="list-group-item">
                            <div class="row g-0">
                                <div class="col-md-10">
                                    <h5 class=""> {{ comment.usercom.username|upper }}</h5>
                                                <p class="">{{ comment.summary|upper }} {% if comment.note > 0 %}{% for i in 1.. comment.note %}&#9733;{% endfor %}{% endif %}{% if comment.note < 5 %}{% for i in 1.. (5 - comment.note) %}&#9734;{% endfor %}{% endif %} </p>
                                                <p class="">{{ comment.content }}</p>
                                                <p class=""><small>Commentaire pour l'article suivant : <strong>{{ comment.prodcom.nom }}</strong> <img class="imgcom" src="{{ asset('assets/img/products/') ~ comment.prodcom.image }}" alt="{{ comment.prodcom.nom }}"></small></p>
                                                <p class=""><small class="text-muted">{{ comment.created|date('d/m/Y') }}</small></p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="row justify-content-center navigation">
                        {{ knp_pagination_render(allcomments) }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
