{% extends 'base.html.twig' %}

{% block title %}Identification{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-8 offset-2">
                <h2 class="my-4">S'identifier</h2>
                <form action="{{ path('login') }}" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" name="_username" required placeholder="Nom d'utilisateur">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="_password" required placeholder="Mot de passe">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-outline-secondary">S'identifier</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock %}
