
.mini-post {
    width: 30px;
}

nav span {
    padding-right: 15px;
    font-weight: bold;
}

.navigation {
    margin-top: 40px;
}

body {
    padding-top: 75px;
  }

.carousel {
    box-shadow: 3px 3px 3px grey;
}

.image{
    background-size: contain;
    max-width: 500px;
    max-height: 500px;
    box-shadow: 3px 3px 3px grey;

}

.imgcom{
    max-width: 100px;
    
}

.contimg {
    width: 252,5px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card-img-top{
    max-height: 300px;
    
}

.avatar{
    max-width: 150px;
}

.avatarlstuser{
    max-width: 100px
}

.contcom{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comdetail{
    padding-top: 50px;
}