{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-8 offset-2">
                <h2 class="my-4">Envoyer un message au titulaire du site</h2>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-outline-primary">Envoyer l'Email</button>
                {{ form_end(form) }}
            </div>
        </section>
    </main>
{% endblock %}
