{% extends 'base.html.twig' %}

{% block title %}My comments{% endblock %}

{% block body %}

    <main class="container">
        <section class="row">
            <div class="col-md-8 offset-2">
                <h2 class="my-4">Mes commentaires</h2>
                <ul class="list-group">
                    {% for comment in comments %}
                    <li class="list-group-item">
                    <div class="row g-0">
                        <div class="col-md-10">
                            <h5 class=""> {{ comment.summary|upper }}</h5>
                                        <p class="">{% if comment.note > 0 %}{% for i in 1.. comment.note %}&#9733;{% endfor %}{% endif %}{% if comment.note < 5 %}{% for i in 1.. (5 - comment.note) %}&#9734;{% endfor %}{% endif %} </p>
                                        <p class="">{{ comment.content }}</p>
                                        <p class=""><small>Commentaire pour l'article suivant : <strong>{{ comment.prodcom.nom }}</strong> <img class="imgcom" src="{{ asset('assets/img/products/') ~ comment.prodcom.image }}" alt="{{ comment.prodcom.nom }}"></small></p>
                                        <p class=""><small class="text-muted">{{ comment.created|date('d/m/Y') }}</small></p>
                        </div>
                        <div class="contcom col-md-2">
                            <p><a href="{{ path('conf_del_com', {username:user.username, id:comment.id}) }}" class=" btn btn-danger" name="confirm"><i class="icofont-ui-delete"></i></a></p>
                            &nbsp;&nbsp;
                            <p><a href="{{ path('edit_com', {username:user.username, id:comment.id}) }}" class="btn btn-secondary"><i class="icofont-edit"></i></a></p>

                        </div>
                    </li>
                    {% endfor %}
                </ul>

                <div class="row justify-content-center navigation">
                {{ knp_pagination_render(comments) }}
                </div>
            </div>
        </section>
    </main>

{% endblock %}
