<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ProjetWebBac2 - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/css/icofont.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block navbar %}
           <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('products') }}">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('about') }}">About us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('team') }}">Our team</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('c_g_v') }}">Condition de vente</a>
                            </li>
                        </ul>
                        <div class="form-inline my-2 my-lg-0">
                            {% if not app.user %}
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButtonBase" data-bs-toggle="dropdown" aria-expanded="false">
                                    S'enregistrer/S'identifier
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="{{ path('registration') }}" class="btn btn-primary">S'enregistrer</a></li>
                                        <li><a class="dropdown-item" href="{{ path('login') }}" class="btn btn-primary">S'identifier</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </div>
                            {% else %}
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButtonBase" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ app.user.firstName }} {{ app.user.lastName }}
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="{{ path('myprofil', {username:user.username, phrase:'myprofil'}) }}" class="btn btn-primary">Mon profil</a></li>
                                        <li><a class="dropdown-item" href="{{ path('mycomments', {username:user.username, phrase:'mycomments'}) }}" class="btn btn-primary">Mes commentaires</a></li>
                                        <li><a class="dropdown-item" href="{{ path('logout') }}" class="btn btn-primary">Se déconnecter</a></li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav> 
        {% endblock %}
        {% block message %}
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('assets/js/gestionBTS.js') }}"></script>
    </body>
</html>
