{% extends 'base.html.twig' %}
{% block title %}Détail{% endblock %}
{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-12">
                <h2 class="my-4">Détail du produit</h2>
            </div>
            <div class="contimg col-md-8">
                <img class="image" src="{{ asset('assets/img/products/') ~ product.image }}" alt="{{ product.nom }}">
            </div>
            <div class="col-md-4">
                <h3>{{ product.nom|upper }}</h3>
                <p>
                    {{ product.created|date('d/m/Y') }}<br>
                    {{ product.category.name }}
                    {% if product.promotion != 0 %}
                    <h5>Promotion  
                    <s style="color:red"><span style="color:black">{{ product.prixInitial + ( product.prixInitial * product.tva / 100 ) }} </span></s>&nbsp; &rarr; {{ ( product.prixInitial + ( product.prixInitial * product.tva / 100 )) / 100 * ( 100 - product.promotion ) }} &euro;</h5>
                    {% endif %}
                    {% if product.promotion == 0 %}
                    <h5>{{ product.prixInitial + ( product.prixInitial * product.tva / 100 ) }} &euro;</h5>
                    {% endif %}
                    {% if product.rupture == true %}
                    <h4 style="color:red"> EN RUPTURE </h4>
                    {% endif %}
                </p>
                <p>
                    {{ product.description }}
                </p>
                <p>
                    <a href="{{ path('products') }}" class="btn btn-outline-secondary">Retour aux produits</a>
                </p>
            </div>
        </section>
                <section class="row">
            <div class="formulaire col-md-12">

                <!-- Button trigger modal -->
                {% if comcurruser == null %}
                <button type="button" class="comform modal-trigger btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#commentform">
                Ajouter un commentaire
                </button>
                {% else %}
                <button type="button" class="comform modal-trigger btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#commentform" disabled>
                Ajouter un commentaire
                </button>
                {% endif %}

            <!-- Modal -->
                <div class="comform modal fade" id="commentform" data-bs-backdrop="false" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Ajouter un commentaire</h5>
                                <a class="fermmodalcom btn btn-secondary" data-bs-dismiss="modal"><i class="icofont-close-circled"></i></a>
                            </div>
                            <div class="modal-body">
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <button type="submit" class="btn btn-outline-primary">Enregistrer le commentaire</button>
                            {{ form_end(form) }}
                            </div>
                            <div class="modal-footer">
                            
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
                    
        <h2 class="my-4">Liste des commentaires</h2>
        
        <section class="row">

                {% for comment in comments %}
                <div class="col-lg-6 col-md-6 mb-4">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4">
                            {% if comment.usercom.sexe == 0 %}
                                <img class="avatar" src="{{ asset('/assets/img/avatars/avat_homme.webp')}}" alt="avatar">
                            {% elseif comment.usercom.sexe == 1 %}
                                <img class="avatar" src="{{ asset('/assets/img/avatars/avat_femme.png')}}" alt="avatar">
                            {% else %}
                                <img class="avatar" src="{{ asset('/assets/img/avatars/avat_alien.webp')}}" alt="avatar">
                            {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title"> {{ comment.usercom.username }}</h5>
                                    <p class="card-text">{{ comment.summary|upper }} {% if comment.note > 0 %}{% for i in 1.. comment.note %}&#9733;{% endfor %}{% endif %}{% if comment.note < 5 %}{% for i in 1.. (5 - comment.note) %}&#9734;{% endfor %}{% endif %}  </p>
                                    <p class="card-text">{{ comment.content }}</p>
                                    <p class="card-text"><small class="text-muted">{{ comment.created|date('d/m/Y') }}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}   
        </section>
    </main>
{% endblock %}