{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <main class="container">
      <section class="row">
        <div class="col-lg-3">

          <h1 class="my-4">AnimeShop</h1>
          <div class="list-group">
            <a href="{{ path('products') }}" class="list-group-item">Toutes les catégories</a>
            {% for cat in categories %}
            <a href="{{ path('productsByCat', {slugCat:cat.slugCat}) }}" class="list-group-item" method="get">{{ cat.name }}</a>
            {% endfor %}
          </div>

        </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class=" carousel carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="{{ asset('assets/img/products/figurine1.jpg') }}" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Précédent</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
          </a>
        </div>

        <div class="row">

          <!-- valeur utilisée pour la gestion de la note plus bas -->
          {% set notationVal = (nbPage * (page - 1)) %}

          {% for product in produits %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <div class="contimg">
                <a href="#"><img class=" card-img-top" src="{{ asset('assets/img/products/' ~ product.image) }}" alt="{{ product.nom }}"></a>
              </div>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{{ path('product', {slug:product.slug}) }}">{{ product.nom }}</a>
                </h4>
                <h6>{{ product.category.name }}</h6>
                {% if product.promotion != 0 %}
                <h5>Promotion  
                <s style="color:red"><span style="color:black">{{ product.prixInitial + ( product.prixInitial * product.tva / 100 ) }} </span></s>&nbsp; &rarr; {{ ( product.prixInitial + ( product.prixInitial * product.tva / 100 )) / 100 * ( 100 - product.promotion ) }} &euro;</h5>
                {% endif %}
                {% if product.promotion == 0 %}
                <h5>{{ product.prixInitial + ( product.prixInitial * product.tva / 100 ) }} &euro;</h5>
                {% endif %}
                <h5>ajouté le {{ product.created|date('d/m/Y') }}</h5>
                {% if product.rupture == true %}
                <h4 style="color:red"> EN RUPTURE </h4>
                {% endif %}
              </div>
              <div class="card-footer">
                <!-- GESTION DE LA NOTATION D'UN PRODUIT -->
                {% set note = notes[notationVal] %}
                {% set nb = totalCom[notationVal] %}
                <p class="text-muted">{% if note > 0 %}{% for i in 1.. note %}&#9733;{% endfor %}{% endif %}{% for i in 1.. (5 - note) %}&#9734;{% endfor %} {{ nb }} avis</p>
                {% set notationVal = notationVal + 1 %}
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
        <!-- /.row -->

        {# display navigation #}
                <div class="row justify-content-center navigation">
                    {{ knp_pagination_render(produits) }}
                </div>
        </div>
        <!-- /.col-lg-9 -->
        </section>
    </main>
{% endblock %}
