{% extends 'base.html.twig' %}

{% block title %}Confirmation de suppression{% endblock %}

{% block body %}

    <main class="container">
        <section class="row">
            <div class=" col-md-8 offset-2">
                <div class="card">
                    <div class="card-header">
                        <h3>Voulez vous supprimer ce produit ?</h3>
                    </div>
                    <div class="card-body">
                        <div class=" row">
                            <div class="comdetail contcom col-md-6">
                                <a href="{{ path('del_prod', {slug:product.slug}) }}" class="btn btn-outline-secondary">OUI</a>
                            </div>
                            <div class=" comdetail contcom col-md-6">
                                <a href="{{ path('product', {slug:product.slug}) }}" class="btn btn-primary">NON</a>
                            </div>
                        </div>
                    </div>
                </div>                 
            </div>
        </section>
    </main>

{% endblock %}
