{% extends 'base.html.twig' %}
{% block title %}Editer un produit{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-8 offset-2">
                <h2 class="my-4">Editer un produit</h2>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-outline-primary">Enregistrer les modifications</button>
                {{ form_end(form) }}
            </div>
        </section>
    </main>
{% endblock %}