{% extends 'base.html.twig' %}

{% block title %}My profil{% endblock %}

{% block body %}

    <main class="container">
        <section class="row">
            <div class="col-md-10 offset-1">
                <div class="card ">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                        {% if bool == false %}
                        <li class="nav-item">
                            <a class="nav-link active"  href="{{ path('myprofil', {username:user.username, phrase:'myprofil'}) }}">Mon profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('myprofil', {username:user.username, phrase:'allprofils'}) }}">Tous les profils</a>
                        </li>
                        {% endif %}
                        {% if bool == true %}
                        <li class="nav-item">
                            <a class="nav-link"  href="{{ path('myprofil', {username:user.username, phrase:'myprofil'}) }}">Mon profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('myprofil', {username:user.username, phrase:'allprofils'}) }}">Tous les profils</a>
                        </li>
                        {% endif %}
                        </ul>
                    </div>
                    <div class="card-body">
                        {% if bool == false %}
                            <div class="row g-0">
                                <div class="col-md-4">
                                    {% if user.sexe == 0 %}
                                        <img class="avatar" src="{{ asset('/assets/img/avatars/avat_homme.webp')}}" alt="avatar">
                                    {% elseif user.sexe == 1 %}
                                        <img class="avatar" src="{{ asset('/assets/img/avatars/avat_femme.png')}}" alt="avatar">
                                    {% else %}
                                        <img class="avatar" src="{{ asset('/assets/img/avatars/avat_alien.webp')}}" alt="avatar">
                                    {% endif %}
                                </div>
                                <div class="col-md-8">
                                    <h5 class=""> {{ user.username }}</h5>
                                                <p class="">Nom : {{ user.lastName }} </p>
                                                <p class="">Prénom : {{ user.firstName }}</p>
                                                <p class="">Email : {{ user.email }}</p>
                                    <p><a href="{{ path('edit_profil', {username:user.username}) }}" class="btn btn-secondary"><i class="icofont-edit"></i></a></p>
                                </div>
                        {% endif %}

                        {% if bool == true %}
                        <ul class="list-group">
                            {% for user2 in allusers %}
                            <li class="list-group-item">
                            <div class="row g-0">
                                <div class="contcom col-md-3">
                                    {% if user2.sexe == 0 %}
                                        <img class="avatarlstuser" src="{{ asset('/assets/img/avatars/avat_homme.webp')}}" alt="avatar">
                                    {% elseif user2.sexe == 1 %}
                                        <img class="avatarlstuser" src="{{ asset('/assets/img/avatars/avat_femme.png')}}" alt="avatar">
                                    {% else %}
                                        <img class="avatarlstuser" src="{{ asset('/assets/img/avatars/avat_alien.webp')}}" alt="avatar">
                                    {% endif %}
                                </div>
                                <div class="col-md-6">
                                    <h5 class=""> {{ user2.username }}</h5>
                                                <p class="">Nom : <strong>{{ user2.lastName }}</strong>, Prénom : <strong>{{ user2.firstName }}</strong></p>
                                                <p class="">Email : {{ user2.email }}</p>
                                </div>
                                <div class="contcom col-md-1">
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <p><a href="{{ path('conf_del_user', {username:user.username, id:user2.id}) }}" class=" btn btn-danger" name="confirm"><i class="icofont-ui-delete"></i></a></p>
                                    {% endif %}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="row justify-content-center navigation">
                        {{ knp_pagination_render(allusers) }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
